<div class="modal-mask" style="display: none;">
    <div class="modal" style="display: none;">
        <div class="modal-head">
            <p class="modal-title">Product Name</p>
        </div>
        <div class="modal-body">
            <form class="create-review-form col col-sm-6">
                <div>

                    <label for="rating">Rate </label>
                    <select id="rating" name="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                </div>

                <div>

                    <label for="review">Review</label>
                    <input type="text" id="review" name="review" />
                    <button type="submit" class="button-info button-round form-button add-rating rate-btn">Review</button>

                </div>
            </form>
        </div>
    </div>
</div>

   <script src="/javascript/add-rating.js"></script>