<div class="col">
    <article class="card">
        <div class="card-info">
            <form class="create-review-form col col-sm-6">

                <div class='show-review'>
                    <h6>Rated by: {{user.name}}</h6>
                    <h6>Rating: {{rating}}</h6>
                    <h6>Review</h6>
                    <p>{{rating_commentary}}</p>
                </div>
            </form>
        </div>
    </article>
</div>