<div class="col">
    <article class="card">
        <div class="card-info">
            <div class="card-heading">
                <h3>Review by: {{user.name}}</h3>
                <ul class="tags">
                    <li class="tag">
                        {{rating}} <i class="fas fa-star"></i>
                    </li>
                </ul>
            </div>
            <div class="card-text">
                <h6>Review</h6>
                <p>{{rating_commentary}}</p>
            </div>
        </div>
    </article>
</div>