<div class="col">
    <article class="card">
        <div class="card-info">
            <h2 class="card-title">Rating: {{rating}} by {{user.name}} on {{format_date created_at}}</h2>
            <p>{{rating_commentary}}</p>
        </div>
    </article>
</div>