{{!-- second nav (product categories) --}}
<nav class="nav-secondary">
    <div class="nav-container">
        <ul class="nav-links">
            
            <li><a href="/">All</a></li>
            <li><a href="/products/blush">Blush</a></li>
            <li><a href="/products/bronzer">Bronzer</a></li>
            <li><a href="/products/eyebrow">Eyebrow</a></li>
            <li><a href="/products/eyeliner">Eyeliner</a></li>
            <li><a href="/products/eyeshadow">Eyeshadow</a></li>
git a            <li><a href="/products/foundation">Foundation</a></li>
            <li><a href="/products/lip_liner">Lipliner</a></li>
            <li><a href="/products/lipstick">Lipstick</a></li>
            <li><a href="/products/mascara">Mascara</a></li>
            <li><a href="/products/nail_polish">Nail Polish</a></li>
        </ul>
        <!-- <div class="nav-input">
            <input type="text" name="search-product">
            <button class="button-primary button-round nav-button" id="search-product" type="submit">Search</button>
            <button id="open-filter" class="button-primary button-round nav-button">Sort/Filter</button>
        </div> -->
    </div>
</nav>