{{!-- second nav (product categories) --}}
<nav class="nav-secondary">
    <div class="nav-container">
        <ul class="nav-links">
            <li>
                <h6>Products</h6>
            </li>
            <li><a href="/">All</a></li>
            <li><a href="/">New</a></li>
            <li><a href="/">Skincare</a></li>
            <li><a href="/">Eyes</a></li>
            <li><a href="/">Lips</a></li>
        </ul>
        <div class="nav-input">
            <input type="text" name="search-product">
            <button class="button-primary button-round nav-button" id="search-product" type="submit">Search</button>
            <button id="open-filter" class="button-primary button-round nav-button">Sort/Filter</button>
        </div>
    </div>
</nav>