
{{#if products.length}}
<section class="all-products">
  <h3>Your Reviews</h3>

    {{#each products as |product|}}
      <article class='card review-card'>
      {{> product-info product}}
        {{#each ratings as |rating|}}
          {{> your-rating-info rating}}
        {{/each}}
      </article>
    {{/each}}

</section>

<script src="/javascript/edit-rating.js"></script>
<script src="/javascript/delete-rating.js"></script>
<script src="/javascript/add-wishlist.js"></script>
{{/if}}

