<section class="section-secondary">
  <div class="container">

    <h3>Dashboard</h3>
     <h6>Review Product</h6>

    <div class="row">

      <div class="col col-sm-6">
        <select name="category" id="category">
          <option value="category">Category</option>
          <option value="concealer">Concealer</option>
          <option value="foundation">Foundation</option>
          <option value="makeupBrushes">Makeup Brushes</option>
        </select>
        <select name="brand" id="brand">
          <option value="brand">Brand</option>
          <option value="tarte">Tarte</option>
          <option value="sephoraCollection">Sephora Collection</option>
          <option value="fenty">Fenty Beauty</option>
          <option value="buxom">Buxom</option>
        </select>
        <select name="product" id="product">
          <option value="product">Product</option>
          <option value="tarteConcealer">Amazonian Clay Waterproof 12-Hour Concealer</option>
          <option value="tarteBrush">SEA Aquaflash Foundation Brush</option>
        </select>
      </div>
       
    </div>
</section>

{{#if products.length}}
<section class="all-reviews">
  <h3>Your Reviews</h3>

    {{#each products as |product|}}
      {{> rating-info product}}
    {{/each}}

</section>

<script src="/javascript/edit-rating.js"></script>
<script src="/javascript/delete-rating.js"></script>
{{/if}}

