{{> modal}}


{{> second-nav}}


<section class="section-tertiary">
    <div class="container">

        <div class="row">
            <h3>All Products</h3>
        </div>

        <div class="row all-products">

            <div class="col col-md-7">
                {{#each products as |product|}}
                    {{#unless product.featured}}
                            {{> product-info product}}
                     {{/unless}}
                {{/each}}
            </div>

            <div class="col col-md-5 col-sm-order-1">
                {{#each products as |product|}}
                    {{#if product.featured}}
                        {{> product-info product}}
                    {{/if}}
                {{/each}}
            </div>

        </div>

    </div>

{{!-- repalace data-pagetotal with page total from home-routes --}}
<ul class="pagination" data-pagetotal="10">

</ul>

</section>


{{#if loggedIn}}
    <script src="/javascript/add-rating.js"></script>
    <script src="/javascript/add-wishlist.js"></script>
    <script src="/javascript/show-modal.js"></script>
{{/if}}

<script src="/javascript/mobile-menu.js"></script>
<script src="/javascript/paginate.js"></script>