<section class="section-tertiary">
    <div class="container">

        <div class="row">
            <h3>All Products</h3>
        </div>

        <div class="row">

            <div class="col col-md-7">

                {{#each products as |product|}}

                    {{#unless > product-info product.featured}}
                        {{> product-info product }}
                    {{/unless}}

                {{/each}}

            </div>

            <div class="col col-md-5 col-sm-order-1">

                {{#each products as |product|}}
                
                    {{#if > product-info product.featured}}
                        {{> product-info product }}
                    {{/if}}
                
                {{/each}}

            </div>

        </div>

    </div>
</section>

{{!-- temp hardcoded to see the layout --}}

<section class="section-tertiary">
    <div class="container">
        <div class="row">
            <h3>All Products</h3>
        </div>
        <div class="row">

            <div class="col col-md-7">

                <article class="card">
                    <div class="card-left">
                        <img class="card-image" src="https://picsum.photos/150/200" />
                        <button class="button-info button-round add-wishlist">Wishlist</button>
                    </div>
                    <div class="card-info">
                        <h2 class="card-title">Product Name</h2>
                        <h6>Rating: *****</h6>
                        <p>This is a product description. Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Vestibulum mattis lacus in nulla consequat suscipit. Fusce a
                            mauris facilisis, ultrices mauris vitae, ultricies mi. Pellentesque in ullamcorper
                            orci, id ultricies ex.
                        </p>
                    </div>
                </article>

                <article class="card">
                    <div class="card-left">
                        <img class="card-image" src="https://picsum.photos/150/200" />
                        <button class="button-info button-round add-wishlist">Wishlist</button>
                    </div>
                    <div class="card-info">
                        <h2 class="card-title">Product Name</h2>
                        <h6>Rating: *****</h6>
                        <p>This is a product description. Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Vestibulum mattis lacus in nulla consequat suscipit. Fusce a
                            mauris facilisis, ultrices mauris vitae, ultricies mi. Pellentesque in ullamcorper
                            orci, id ultricies ex.
                        </p>
                    </div>
                </article>

                <article class="card">
                    <div class="card-left">
                        <img class="card-image" src="https://picsum.photos/150/200" />
                        <button class="button-info button-round add-wishlist">Wishlist</button>
                    </div>
                    <div class="card-info">
                        <h2 class="card-title">Product Name</h2>
                        <h6>Rating: *****</h6>
                        <p>This is a product description. Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Vestibulum mattis lacus in nulla consequat suscipit. Fusce a
                            mauris facilisis, ultrices mauris vitae, ultricies mi. Pellentesque in ullamcorper
                            orci, id ultricies ex.
                        </p>
                    </div>
                </article>

            </div>

            <div class="col col-md-5 col-sm-order-1">

                <article class="card card-tertiary card-vertical">
                    <h2 class="card-title">FEATURED</h2>
                    <img class="card-image" src="https://picsum.photos/150/200" />
                    <button class="button-primary button-round add-wishlist">Wishlist</button>
                    <div class="card-info">
                        <h2 class="card-title">Product Name</h2>
                        <h6>Rating: *****</h6>
                        <p>This is a product description. Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Vestibulum mattis
                            lacus
                            in nulla consequat suscipit. Fusce a
                            mauris facilisis, ultrices mauris vitae, ultricies mi. Pellentesque in ullamcorper
                            orci, id ultricies ex.
                        </p>
                    </div>
                </article>

            </div>
        </div>
    </div>
</section>