<ul class="product-list">
  {{#each products as |product|}}
  <li>
    {{> product-info product }}
  </li>
  {{/each}}
</ul>

{{!-- temp hardcoded to see the layout --}}

<ul class="container container-small">

<li>

<article class="card">
    <div class="card-left">
        <img class="card-image" src="https://picsum.photos/150/200" />
        <button class="button-info button-round add-wishlist">Wishlist</button>
    </div>
    <div class="card-info">
        <h2 class="card-title">Product Name</h2>
        <h6>Rating: 4.5/5</h6>
        <p>This is a product description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis
            lacus in nulla consequat suscipit. Fusce a
            mauris facilisis, ultrices mauris vitae, ultricies mi. Pellentesque in ullamcorper orci, id ultricies ex.
        </p>
    </div>
</article>

</li>

<article class="card">
    <div class="card-left">
        <img class="card-image" src="https://picsum.photos/150/200" />
        <button class="button-info button-round add-wishlist">Wishlist</button>
    </div>
    <div class="card-info">
        <h2 class="card-title">Product Name</h2>
        <h6>Rating: 4.5/5</h6>
        <p>This is a product description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis
            lacus in nulla consequat suscipit. Fusce a
            mauris facilisis, ultrices mauris vitae, ultricies mi. Pellentesque in ullamcorper orci, id ultricies ex.
        </p>
    </div>
</article>

</li>

<article class="card">
    <div class="card-left">
        <img class="card-image" src="https://picsum.photos/150/200" />
        <button class="button-info button-round add-wishlist">Wishlist</button>
    </div>
    <div class="card-info">
        <h2 class="card-title">Product Name</h2>
        <h6>Rating: 4.5/5</h6>
        <p>This is a product description. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis
            lacus in nulla consequat suscipit. Fusce a
            mauris facilisis, ultrices mauris vitae, ultricies mi. Pellentesque in ullamcorper orci, id ultricies ex.
        </p>
    </div>
</article>

</li>

</ul>