<img class="section-bg" src="/images/makeup-img.jpeg" />
<section>

<div class="container">
  <div class="row">

    <div class="col col-md-4">

  <div class="card card-vertical">

<h3>Login or Sign Up</h3>

<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button class="button-primary button-round form-button" type="submit">login</button>
  </div>
</form>

<hr>

<form class="signup-form">
  <div>
    <label for="name-signup">username:</label>
    <input type="text" id="name-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button class="button-primary button-round form-button" type="submit">signup</button>
  </div>
</form>

</div>

</div>

<div class="col col-md-8">
  <article class="card card-vertical">
    <h3 class="card-title">Welcome to Swatch!</h3>
    <div class="card-info">

    <div class="card-text">
      <p>Swatch is your spot for honest makeup reviews.</p>
      <p>Sign up to to read honest makeup reviews, rate and review products, and keep track of items that cath your eye on your wishlist!</p>
    </div>

    </div>
  </article>
</div>

</div>

</div>
</section>


<script src="/javascript/login.js"></script>
