{{#if products.length}}

<section class="section-secondary">
  {{#each products as |product|}}

    {{> product-info product}}


</section>

<section>
  {{#each ratings as |rating|}}
    {{> rating-info rating}}
  {{/each}}
  {{/each}}
</section>

{{!-- <section class="section-tertiary all-products">


            {{#each products as |product|}}
              <article class='card review-card'>
                {{> product-info product}}
                {{#each ratings as |rating|}}
                  {{> rating-info2 rating}}
                {{/each}}
              </article>
            {{/each}}
        

</section> --}}


<script src="/javascript/add-wishlist.js"></script>

{{/if}}
