{{modal}}

<section class="section-tertiary">
    <div class="container">
        <div class="row all-products">
            <div class="col col-md-7">          
                        {{> product-info product}}                 
            </div>
        </div>
    </div>
</section>

{{#if loggedIn}}
    <script src="/javascript/add-rating.js"></script>
    <script src="/javascript/add-wishlist.js"></script>
    <script src="/javascript/show-modal.js"></script>
{{/if}}