{{#if products.length}}

<section class="section-secondary">
  {{#each products as |product|}}

    {{> product-info product}}


</section>

<section>
  {{#each ratings as |rating|}}
    {{> rating-info rating}}
  {{/each}}
  {{/each}}
</section>

<script src="/javascript/add-wishlist.js"></script>

{{/if}}
