{{> second-nav}}

{{#if products.length}}
<section>

  <div class="container container-large">

    <div class="row">
      <h3>Your Wishlist</h3>
    </div>

    <div class="row">

    {{#each products as |product|}}
      {{> wishlist-items product}}
    {{/each}}

    </div>
  </div>
</section>
{{/if}}


<script src="/javascript/remove_wishlist.js"></script>
